@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

header {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ffffff22;
    backdrop-filter:blur(4px) ;
}

header img {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px auto;
}

header h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;
}

nav {
    margin-top: 15px;
}

nav button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background: transparent;
    border: 2px solid #ffffff44;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    border-color: #ff6600;
    color: #ff6600;
    text-shadow: 0 0 5px #ff6600;
}

nav button:active{
    background-color: #ff6600;
    color: #000;
    border-color: #000;
}

nav button h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

article {
    background: rgba(0, 0, 0, 0.792);
    border: 1px solid #ffffff22;
    padding: 15px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(5px);
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #ff6600;
}

article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

article h1 {
    font-size: 1.2rem;
    color: #ff6600;
    margin-bottom: 5px;
}

article h2 {
    font-size: 1rem;
    color: #ddd;
}

article a {
    color: #ff6600;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

footer {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    border-top: 2px solid #ffffff22;
    backdrop-filter:blur(4px) ;
    margin-bottom: 0px;
}
footer h1{
    color: #ff6600;
}

footer h2{
    color: #ddd;
}